:root {
	--theme-bg-color: #214151;
	--theme-text-color: #eff7e1;
	--theme-text-correct: #355765;
	--theme-text-wrong: #f8dc81;
	--theme-text-next: #a2d0c1;
	--theme-text-wrong-opacity-60: rgba(248, 220, 129, 0.6);
	--theme-text-correct-opacity-60: rgba(53, 87, 101, 0.6);
}

body {
	background-color: var(--theme-bg-color);
	color: var(--theme-text-color);
}

.title a {
	color: var(--theme-text-correct);
}

.title a:hover {
    color: var(--theme-text-next);
}

.nav div {
    display: inline-block;
}

.text-main {
	color: var(--theme-text-color);
}

.text-correct {
	color: var(--theme-text-correct);
}

.text-wrong {
	color: var(--theme-text-wrong);
}

.text-next {
	color: var(--theme-text-next);
}

.restart-button {
	color: var(--theme-text-color);
}

.restart-button:hover .restart-icon {
	/* color:  */
	color: var(--theme-text-next);
}

.word-input {
	background-color: var(--theme-text-correct);
	color: var(--theme-text-color);
	border: 1px var(--theme-bg-color) solid;
}

.theme-icon {
    color: var(--theme-text-correct);
}

.theme-wrapper p span {
    color: var(--theme-text-correct);
}

.theme-wrapper p:hover span,
.theme-wrapper p:hover .theme-icon
{
    color: var(--theme-text-next);
}

.word-input:focus {
	background-color: var(--theme-text-correct-opacity-60);
	/* border: 1.5px var(--theme-text-color) solid; */
}

.error {
	background-color: var(--theme-text-wrong-opacity-60);
}

.error:focus {
	background-color: var(--theme-text-wrong-opacity-60);
}

.max-word-list li:hover {
	color: var(--theme-text-next);
}

.max-word-list .current-max {
	color: var(--theme-text-next);
}

.theme-select {
    background-color: var(--theme-text-correct);
}
